## Date and Time

In [1]:
import time

In [2]:
ticks = time.time()

In [3]:
print("Number of ticks since 12:00am, January 1, 1970:", ticks)

Number of ticks since 12:00am, January 1, 1970: 1722842723.5826986

In [4]:
localtime = time.localtime(time.time())
print ("Local current time :", localtime)

Local current time : time.struct_time(tm_year=2024, tm_mon=8, tm_mday=5, tm_hour=12, tm_min=55, tm_sec=23, tm_wday=0, tm_yday=218, tm_isdst=0)

In [5]:
localtime[6]

0

In [6]:
localtime = time.asctime( time.localtime(time.time()) )
print ("Local current time :", localtime)

Local current time : Mon Aug  5 12:55:23 2024

In [7]:
localtime[1]

'o'

In [8]:
# Write a program to fetch current time from asc time function thus, print new time format as follow monthday,time,day of week.

In [9]:
localtime1 = time.asctime( time.localtime(time.time()) )
localtime  = localtime1.split(' ')
localtime

['Mon', 'Aug', '', '5', '12:55:23', '2024']

In [10]:
localtime[3],localtime[4],localtime[0]

('5', '12:55:23', 'Mon')

In [11]:
import calendar
cal = calendar.month(2024, 1)
print("Here is the Calendar:")
print (cal)

Here is the Calendar:
    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [12]:
type(cal)

str

In [13]:
from datetime import timedelta
delta = timedelta(
    days=50,
    seconds=27,
    microseconds=10,
    milliseconds=29000,
    minutes=5,
    hours=8,
    weeks=2

)

In [14]:
delta

datetime.timedelta(days=64, seconds=29156, microseconds=10)

In [15]:
from datetime import timedelta
d = timedelta(microseconds=-1)
(d.days,d.seconds,d.microseconds)

(-1, 86399, 999999)

In [16]:
from datetime import date
date.fromisoformat('2019-12-04')

datetime.date(2019, 12, 4)

In [17]:
from datetime import date
date(2024, 8, 5).isocalendar()

datetime.IsoCalendarDate(year=2024, week=32, weekday=1)

In [18]:
from datetime import date
d = date(2024, 7, 5).isocalendar()

In [19]:
type(d)

datetime.IsoCalendarDate

In [20]:
from datetime import date
date(2024,8,5).ctime()

'Mon Aug  5 00:00:00 2024'

In [21]:
import time
from datetime import date
today = date.today()
today

datetime.date(2024, 8, 5)

In [22]:
today  == date.fromtimestamp(time.time())

True

In [23]:
my_birthday = date(today.year, 10, 24)
if my_birthday < today:
    my_birthday = my_birthday.replace(year = today.year + 1)

In [24]:
my_birthday

datetime.date(2024, 10, 24)

In [25]:
time_to_birthday = abs(my_birthday - today)
time_to_birthday.days

80

In [26]:
from datetime import date
d = date.fromordinal(730920)
d

datetime.date(2002, 3, 11)

In [27]:
d.isoformat()

'2002-03-11'

In [28]:
d.strftime("%d/%m/%y")

'11/03/02'

In [29]:
d.strftime("%A %d. %B %Y")

'Monday 11. March 2002'

In [30]:
d.ctime()

'Mon Mar 11 00:00:00 2002'

In [31]:
'The {1} is {0:%d}, the {2} is {0:%B}.'.format(d, "day", "month")

'The day is 11, the month is March.'

In [32]:
t = d.timetuple()
for i in t:
    print(i)

2002
3
11
0
0
0
0
70
-1

In [33]:
ic = d.isocalendar()
for i in ic:
    print(i)

2002
11
1

In [34]:
# A date object is immutable; all operations produce a new object
d.replace(year=2024)

datetime.date(2024, 3, 11)

In [35]:
# Write a program to check whether the applicant previous interview date and current interview days has a gap of 180 days if not then give a applicant a new date provide a above condition

In [36]:
from datetime import datetime, timedelta

p_date_str = input("Enter the previous interview date (YYYY-MM-DD): ")
c_date_str = input("Enter the current interview date (YYYY-MM-DD): ")

p_date = datetime.strptime(p_date_str, "%Y-%m-%d")
c_date = datetime.strptime(c_date_str, "%Y-%m-%d")

difference = (c_date - p_date).days

if difference < 180:
    new_interview_date = p_date + timedelta(days=180)
    print(f"The gap is less than 180 days. The new interview date should be: {new_interview_date.strftime('%Y-%m-%d')}")
else:
    print("The gap is at least 180 days. The current interview date is acceptable.")

Enter the previous interview date (YYYY-MM-DD):  2021-09-09
Enter the current interview date (YYYY-MM-DD):  2023-09-09

The gap is at least 180 days. The current interview date is acceptable.

In [49]:
# Write a program to count amount of profit generated by machine one if it runs 4 hr/working day from 1st jan 2024 till current date the rate of the machine profits is 10,000 per hour use date time module

In [50]:
from datetime import datetime, timedelta

s_date = datetime(2024, 1, 1)
e_date = datetime.now()
h_per_day = 4
p_per_hour = 10000

In [51]:
num_days = (e_date - s_date).days + 1

working_days = sum(1 for day in (s_date + timedelta(days=i)
                                 for i in range(num_days)) if day.weekday() < 5)

total_profit = working_days * h_per_day * p_per_hour

print(f"The profit generated by the machine from {s_date.date()} to {e_date.date()} is: {total_profit} units.")

The profit generated by the machine from 2024-01-01 to 2024-08-05 is: 6240000 units.

In [52]:
# Write a program for a theme park where it is open for 3 hr from monday to friday on 6 hr on weekend. calculate total operating cost if per hr 2000rs worth of electricity is use till current date from 1 jan 2024

In [53]:
from datetime import datetime

theme_park = 3
per_hour = 6
cost = 2000

In [54]:
start_date = datetime(2024, 1, 1)
current_date = datetime(2024, 8, 5)

In [55]:
 new_days = (e_date-s_date).days
new_days

217

In [56]:
total_cost=0

In [57]:
217//5

43

In [58]:
43*2

86

In [59]:
217-86

131

In [60]:
131*3*2000

786000