## MySql

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector as sqltor
mycon = sqltor.connect(host = "localhost",user="root",passwd ="Saikiran@78",database="student")

In [3]:
if mycon.is_connected():
    print('Successfully Connected to MYSQL database')

Successfully Connected to MYSQL database

In [4]:
cursor = mycon.cursor()

In [5]:
cursor.execute("Select * from stud")

In [6]:
stud = cursor.fetchall()
for row in stud:
    print(row)

(1, 'janhavi')
(2, 'raksha')
(3, 'shruti')
(2, 'raksha')
(3, 'shruti')
(4, 'shubhangi')

In [7]:
cursor.execute("Insert into stud (id,name) values(2,'raksha')")

In [8]:
cursor.execute("Insert into stud (id,name) values(3,'shruti')")

In [9]:
cursor.execute("Insert into stud (id,name) values(4,'shubhangi')")

In [10]:
#mycon.commit()

In [11]:
stud = cursor.fetchmany(2)
for row in stud:
    print(row)

In [12]:
stud = cursor.fetchone()
count = cursor.rowcount
print("Total no. of rows retrived from resultset:",count)
print(stud)
print("\n Again fetching one record")
stud = cursor.fetchone()
count = cursor.rowcount
print("Total no. of rows retrived from resultset:",count)
print(stud)

Total no. of rows retrived from resultset: 1
None

 Again fetching one record
Total no. of rows retrived from resultset: 1
None

In [ ]:
cusor.execute(stud)
stud = cursor.