### exploratory data analysis

In [126]:
import pandas as pd
import numpy as np

In [127]:
df = pd.read_csv(r'C:\Users\admin\Downloads\chocolate_taste_dataset.csv')

In [128]:
df

                          taste  count_of_taste
0                         nutty             238
1                         sweet             237
2                         cocoa             203
3                        roasty             198
4                        creamy             184
..                          ...             ...
835           fudgey then spicy               1
836                  ligt color               1
837                 light brown               1
838  mild cacao and fruit notes               1
839                        mold               1

[840 rows x 2 columns]

In [129]:
df

                          taste  count_of_taste
0                         nutty             238
1                         sweet             237
2                         cocoa             203
3                        roasty             198
4                        creamy             184
..                          ...             ...
835           fudgey then spicy               1
836                  ligt color               1
837                 light brown               1
838  mild cacao and fruit notes               1
839                        mold               1

[840 rows x 2 columns]

In [130]:
print(df['taste'])

0                           nutty
1                           sweet
2                           cocoa
3                          roasty
4                          creamy
                  ...
835             fudgey then spicy
836                    ligt color
837                   light brown
838    mild cacao and fruit notes
839                          mold
Name: taste, Length: 840, dtype: object

In [131]:
df.columns

Index(['taste', 'count_of_taste'], dtype='object')

In [132]:
df.groupby('taste').count()

              count_of_taste
taste
Andes mint                 1
Cadbury egg                1
Easter candy               1
Fruity                     1
Roasty                     1
...                      ...
woodsy                     1
woody                      1
wtf                        1
yellow fruit               1
yogurt                     1

[840 rows x 1 columns]

In [133]:
a =df['taste']

In [134]:
df.groupby('taste').count()

              count_of_taste
taste
Andes mint                 1
Cadbury egg                1
Easter candy               1
Fruity                     1
Roasty                     1
...                      ...
woodsy                     1
woody                      1
wtf                        1
yellow fruit               1
yogurt                     1

[840 rows x 1 columns]

In [140]:
df.iloc[0:5]sort_values(by=['taste'],ascending=True)
df.reset_index(drop=True)

SyntaxError: invalid syntax (275310728.py, line 1)